.list {
  display: flex;
  flex-direction: column;
}

.text {
  font-size: 22px;
}

.item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0px 30px;
  margin: 10px 0;
}

.button {
  display: inline-block;
  background-color: #00b8ff;
  color: #ffffff;
  text-decoration: none;
  padding: 5px;
  border-radius: 5px;
}
